[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "hugo-temp/themes/PaperMod"]
	path = hugo-temp/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
