<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Markmap</title>
    <style>
      svg.markmap {
        width: 100%;
        height: 70vh;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/markmap-autoloader@0.14.4"></script>
  </head>
  <body>
    <div class="markmap">
      <script type="text/template">
        ---
        markmap:
          pan: false
          zoom: false
          maxWidth: 200
          colorFreezeLevel: 2
        ---
        ## 1997-2002 MCSE
        ### 
        - Microsoft solutions
        - Citrix Terminal Server
        - Lotus Notes Domino
        
        ## 2003-2010 VSP
        - Datacenter
        - Microsoft solutions
        - Vmware
        
        ## 2011-2016 VSP
        - Datacenter
        - Hyper-V
        - Microsoft solutions
        - Vmware
        - Xen
        
        ## 2017-2023 Azure
        - Azure
        - Azure Stack HCI
        - Azure Virtual Desktop
        - Hyper-V
        - Microsoft solutions
        - PowerApps
      </script>
    </div>
  </body>
</html>
